div.primeIcon{
  position: absolute;
  z-index: 1;
  top: 0rem;
  left: 0rem;
  width:20% ;
  height: 1.8rem;
  border-top-right-radius: 1rem;
  border-top-left-radius: .3rem;
  border-bottom-right-radius: 1rem;
  color: black;
  background-color: #00A8E1;
  /* box-shadow: rgba(0, 0, 0, 1) 0px 2px 4px, rgba(0, 0, 0, 1) 0px 7px 13px -3px, rgba(0, 0, 0, 0) 0px -3px 0px ; */
  box-shadow: 3.5px 6.0px 1.0px hsl(0deg 0% 0% / 1);
}