.navbardiv {
    width: 100%;
    height: 80px;
    background-color: #1a242e;
    margin: 0px;
    box-sizing: border-box;
    display: flex;
    justify-content: start;
}

.globediv {
    margin-right: 20px;
}

.globediv>img {
    width: 20px;
    height: 20px;
    color: white;
}

.navbardiv>div {
    margin-left: 20px;
}

.navbardiv>div:nth-child(2) {
    margin-left: 70%;
    width: 210px;
}

.leftnavbardiv {
    padding-top: 20px;
    box-sizing: border-box;
    width: 200px;
}

.firsthome {
    width: 100%;
    height: 530px;
    background-color: #000000;
    display: flex;
    color: white;
}

.firsthome>div {
    width: 50%;
}

.firsthome>div:nth-child(2) {
    width: 60%;
}

.firsthome>div:nth-child(2)>img {
    width: 100%;
    height: 100%;
}

.firsth1tag {
    margin-left: 65px;
    margin-top: 70px;
}

.firstptag {
    margin-left: 65px;
    font-size: 23px;
    font-weight: lighter;
}

.seconddiv {
    display: flex;
    margin-right: 20px;
    background-color: #ffffff;
    width: 100%;
    height: 500px;
}

.seconddiv>div {
    width: 50%;
    height: 100%;
    padding-right: 100px;
    box-sizing: border-box;
}

.yourfavouritediv {
    margin-left: 65px;
    margin-top: 70px;
    font-size: 45px;
    font-weight: lighter;
}

.ninegrid {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 30% 30% 30%;
    grid-gap: 10px;
    padding: 30px 40px;
}

.ninegrid>div>img {
    width: 100%;
    height: 100%;
}

.ninegrid>div:hover {
    box-shadow: 30px 45px 22px 12px #888888;
    width: 102%;
    height: 104%;
}

.thirddiv {
    background-color: #000000;
    width: 100%;
    height: 450px;
    display: flex;
}

.thirddiv>div:nth-child(1) {
    width: 48%;
    color: #ffffff;
    font-weight: lighter;
}

.thirddiv>div:nth-child(2) {
    width: 52%;
}

.thirddiv>div:nth-child(2)>img {
    width: 100%;
    height: 100%;
}

.fourthdiv {
    background-color: #000000;
    width: 100%;
    height: 450px;
    display: flex;
    padding: 10px;
    box-sizing: border-box;
}

.fourthdiv>div:nth-child(2) {
    width: 50%;
    color: #ffffff;
    font-weight: lighter;
}

.fourthdiv>div:nth-child(1) {
    width: 50%;
}

.fourthdiv>div:nth-child(1)>img {
    width: 100%;
}

.fifthdiv {
    background-color: #000000;
    width: 100%;
    height: 450px;
    display: flex;
}

.fifthdiv>div:nth-child(1) {
    width: 53%;
    color: #ffffff;
    font-weight: lighter;
}

.fifthdiv>div:nth-child(2) {
    width: 47%;
}

.fifthdiv>div:nth-child(2)>img {
    width: 100%;
    height: 100%;
}

.firsthomefooter {
    width: 100%;
    height: 130px;
    background-color: #222222;
}

.firsthomefooter>div {
    width: 700px;
    height: 80%;
    margin: auto;
    text-align: center;
    padding-top: 30px;
    box-sizing: border-box;
}

.nav {
    width: 100%;
    height: 100px;
    background-color: #222222;
    padding-top: 40px;
    padding-left: 20px;
    box-sizing: border-box;
    padding: 40px;
    display: flex;
}

.nav>div {
    margin-right: 40px;
}

.navlist {
    display: flex;
    justify-content: space-between;
    width: 500px;
    margin-bottom: 40px;
}

.navlist>div {
    color: #ffffff;
}

.searchnavbar {
    margin-left: 300px;
}

.searchnavbar>input {
    background-color: #1a242e;
    color: white;
    border: 1px solid wheat;
    text-align: left;
    padding-left: 40px;
}

.searchnavbar>i {
    color: #ffffff;
    position: absolute;
    width: 50px;
    height: 40px;
    margin-left: 20px;
    margin-right: 20px;
}

.category>li {
    list-style: none;
}

.categoryli {
    list-style: none;
    position: absolute;
}

html,
body {
    margin: 0px;
}

.category .categorydiv {
    position: absolute;
    width: 1000px;
    height: 420px;
    top: 20px;
    left: 0px;
    margin-left: 0;
    background-color: #1a242e;
    display: flex;
    padding: 1%;
    box-sizing: border-box;
}

.categorydiv>div {
    width: 48%;
    height: 96%;
    margin: auto;
    padding: 10px;
    box-sizing: border-box;
}

.categorydiv>div:nth-child(1) {
    border-right: 1px solid white;
}

.fivegridcategory {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-columns: auto auto auto;
    gap: 15px;
    padding-top: 15px;
}

.fivegridcategory>div>img {
    width: 100%;
    height: 100%;
}

.secondcategorychild {
    display: flex;
}

.secondcategorychild>div {
    width: 48%;
    height: 96%;
    margin: auto;
}

table {
    padding-left: 20px;
}

tr,
td {
    width: 200px;
    height: 43px;
}