.trending015{
  border: 1px solid red;
  width: 100%;
  height: 20rem;
  display: flex;
  justify-content: space-between;
  align-items:flex-end;
}
.arrows015{
  box-sizing: border-box;
  border: 1px solid red;  
  height: 100%;
  width: 2.5%;
  padding-top: 7.5%;
}
div.tracker015{
  /* border: 1px solid red;     */
  height: 13%;
  width: 20%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 1%;

}
div.tracker015>.circles015{
  border: 1px solid red;    
  width: 1.1rem;
  height: 1.1rem;
  border-radius: 50%;


}