.hoverbox{
  overflow: auto;
  border: 2px solid #00A8E1;  
  background-color: #1B2530;
  color: white;
  text-align: center;
  border-radius: 1%;
}

.hoverbox>.details{
  padding: 1rem;

}

.hoverbox>.details>h4{
  color:#00A8E1;
}

.hoverbox>.details>h3{
  margin: 0;
  padding: 0;
}

.hoverbox>.details>p{  
  margin-top: 0;
  text-align: justify; 
  
}

.hoverbox>.details>.flexBox_bottom{  
  display: flex;  
  align-items: center;
  /* border: 1px solid red; */
}

.hoverbox>.details>.flexBox_bottom p{ 
  margin: 0.2rem 1.3rem;
} 

.hoverbox>.details>.flexBox_bottom>p:nth-last-child(1){ 
  border: 2px solid white;
  padding: 0.3rem;
  border-radius: 20%;
}

.hoverbox .flexBox{
  display: flex;
  /* border: 1px solid teal; */
  align-items: center;
  justify-content: space-around;
} 

.hoverbox .flexBox>div{
  display: flex;
  /* border: 1px solid red; */
  width: 55%;
  justify-content: space-evenly
}